body {
    background-color: rgb(140, 135, 142);
    margin: 2%;  
}

div.background_contain {
    background-color: lightgoldenrodyellow;
    border: 10px solid midnightblue;
    border-inline-color: rgb(227, 227, 55);
}

h4 {
    border: 10px solid black;
    padding-left: 1%;
    padding-right: 1%;
    width:fit-content;
    margin-left: 2%;
    font-family: sans-serif;
    text-align:left;
}

h1 {
    color:skyblue;
    font-family: sans-serif;
    text-align: center;
    font-size: 250%;
    text-decoration:underline;
    text-underline-position: under;
    text-decoration-thickness: 25%;
    text-decoration-color:midnightblue;
}

span {
    /* Using <span> to add an overline along with the underline decorations */
    text-decoration:overline;
    text-decoration-color:rgb(227, 227, 55);
    text-decoration-thickness: 25%;
}

.denver {
    /* Centering my image */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table {
    font-family: Verdana;
    border-collapse: collapse;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

td {
    border: 1px solid;
    border-color: midnightblue;
    font-size: 120%;
    color:skyblue
}

th {
    font-size: 120%;
    color:rgb(227, 227, 55);
}

p {
    /* Aligning and making the welcome paragraph look visually appealing and readable to users */
    font-size: 160%;
    color:skyblue;
    margin-left: 13%;
    margin-right: 13%;
    font-weight: bold;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(227, 227, 55);
    padding: 2%;
    text-indent: 25px;
}

h3 {
    color: rgb(227, 227, 55);
    text-align: center;
    font-size: 150%;
}